<div class="container">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <div class="fetured_items" id="goods">
        {% for item in items %}
        <div class="fetured_item">
            <img src="/{{item.IMAGES.0.PATH}}" alt="{{item.NAME}}">
            <a class="fetured_item_text" href="{{detail_link}}/view/{{item.CODE}}">
                <p>{{item.NAME}}</p>
                <span class="stars">
                    {%set arRating = item.RATING|split('.')%}
                    {%set n = 0%}
                    {% if arRating.0 > 0  %}
                        {%for i in 0..arRating.0 %}
                            {%set n=n+1%}
                            <i class="fa fa-star"></i>
                        {%endfor%}
                    {%endif%}
                    {%if arRating.1 > 0 %}
                        {%set n=n+1%}
                        <i class="fa fa-star-half-o"></i>
                    {%endif%}
                    {%if n < 5%}
                        {% for i in n..5 %}
                            <i class="fa fa-star-o"></i>
                        {%endfor%}
                    {%endif%}
            </span>
                <span>&#36;{{item.PRICE}}</span>
            </a>
            <a class="fetured_item_hover buy" href="{{detail_link}}/view/{{item.CODE}}" data-id="{{item.id}}">
                <div class="flex">
                    <img src="img/forma-1-copy.png" alt="copy">
                    <span> Add to Cart </span>
                </div>
            </a>
            {% if admin == true %}
            <button id="{{item.id}}" class="delete_item">Удалить</button>
            {%endif%}
        </div>
        {%endfor%}
    </div>
    {% if admin == true %}
        <div id="catalog_admin">
            <style>
                #add_item{
                    display: flex;
                    flex-flow: column nowrap;
                    width: 400px;
                }
            </style>
            <h2>Управление каталогом</h2>
            <form id="add_item" action="#">
                <input type="text" id="item_name" name="name" placeholder="Название товара">
                <input type="text" id="item_code" name="code" placeholder="Код товара">
                <input type="text" id="item_price" name="price" placeholder="Цена товара">
                <input type="number" id="item_image" name="image" placeholder="Индификатор изображения из галлереи">
                <button type="submit">Добавить</button>
            </form>
        </div>
    {%endif%}
</div>