
    <div class="picture1">
        <div class="container"><img src="img/layer-24.png" alt="layer-24" class="textonpicrel">
            <div class="textonpic"><img src="img/rectangle-16-copy.png" alt="vector"> THE BRAND
                <br><span>OF LUXERIOUS </span><span>FASHION</span></div>
        </div>
    </div>
    <div class="block1 container">
        <table cellpadding="17px">
            <tr>
                <td rowspan="2">
                    <a href="#" class="offer"><img src="img/layer-30.png" alt="">
                        <p>hOT dEAL
                            <br><span>FOR MEN</span></p>
                    </a>
                </td>
                <td>
                    <a href="#" class="offer"><img src="img/layer-32.png" alt="">
                        <p>30% offer
                            <br><span>women</span></p>
                    </a>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <a href="#" class="offer"><img src="img/layer-31.png" alt="">
                        <p>new arrivals
                            <br><span>FOR kids</span></p>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="offer"><img src="img/layer-37.png" alt="">
                        <p>LUXIROUS &amp; trendy
                            <br><span>ACCESORIES</span></p>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <h1>Fetured Items</h1>
        <p>Shop for items based on what we featured in this week</p>
        <div class="fetured_items" id="goods">
            <div class="fetured_item">
                <img src="img/layer-2.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p>
                    <span class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="1">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-3.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p>
                    <span class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="2">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-4.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p> <span class="stars"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i></span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="3">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-5.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p> <span class="stars"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i></span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="4">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item">
                <a href="#"></a> <img src="img/layer-6.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p> <span class="stars"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i></span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="5">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-7.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p> <span class="stars"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i></span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="6">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-8.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p>
                    <span class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </span>
                    <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="7">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
            <div class="fetured_item"><img src="img/layer-9.png" alt="item">
                <a class="fetured_item_text" href="#1">
                    <p>Mango People T-shirt</p>
                    <span class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </span> <span>&#36;52.00</span>
                </a>
                <a class="fetured_item_hover buy" href="#"
                   data-id="8">
                    <div class="flex"><img src="img/forma-1-copy.png" alt=""><span>Add to Cart</span></div>
                </a>
            </div>
        </div>
        <button class="products">Browse All Product<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        <div class="block_offer"><img src="img/layer-38.png" alt="">
            <p>30% <span>OFFER</span>
                <br><span>FOR WOMEN</span></p>
            <div class="features">
                <div class="feature_box"><img src="img/bf_forma-1.png" alt="">
                    <h2>Free Delivery</h2>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.</p>
                </div>
                <div class="feature_box"><img src="img/bf_forma-2.png" alt="">
                    <h2>Sales &amp; discounts</h2>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.</p>
                </div>
                <div class="feature_box"><img src="img/bf_forma-3.png" alt="">
                    <h2>Quality assurance</h2>
                    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.</p>
                </div>
            </div>
        </div>
